:root {
	color-scheme: light dark;
	--font-family: "Helvetica Neue", Helvetica, sans-serif;
	--background-color: #f9f9f9;
	--alternate-background-color: #f0f0f0;
	--main-border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	--nav-background-color: rgba(0, 0, 0, 0.75);
	--nav-top-border: 1px solid rgba(0, 0, 0, 0.1);
	--nav-bottom-border: 1px solid rgba(0, 0, 0, 0.1);
	--nav-link-color: rgba(255, 255, 255, 0.9);
	--color: rgba(0, 0, 0, 0.75);
	--link-color: hsl(214, 65%, 55%);
	--link-visited-color: hsl(250, 27%, 56%);
	--bold-color: rgba(0, 0, 0, 0.75);
	--biglink-color: hsl(5, 56%, 55%);
	--widequote-background-color: rgba(0, 0, 0, 0.85);
	--widequote-color: rgba(255, 255, 255, 0.9);
	--widequote-border: 1px solid black;
	--separator-background-color: rgba(0, 0, 0, 0.1);
	--box-shadow: 0px 1px 0px white;
	--text-shadow: 0px 1px white;
	--downloads-background-color: var(--biglink-color);
	--downloads-border-top: 1px solid hsl(5, 56%, 40%);
	--downloads-separator-background-color: rgba(255, 255, 255, 0.2);
	--downloads-link-color: rgba(255, 255, 255, 0.9);
	--pressdate-color: rgba(0, 0, 0, 0.35);
	--intro-bottom-border: 1px solid white;
	--lightlink-color: var(--link-color);
	--footer-color: rgba(0, 0, 0, 0.5);
	--system-requirements-color: rgba(255, 255, 255, 0.75);
}
@media(prefers-color-scheme: dark) {
	:root {
	--background-color: hsl(214.4, 30%, 15%);
	--alternate-background-color: rgba(255, 255, 255, 0.1);
	--main-border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	--nav-background-color: rgba(0, 0, 0, 0.75);
	--nav-top-border: 1px solid rgba(0, 0, 0, 0.15);
	--nav-bottom-border: 1px solid rgba(0, 0, 0, 0.15);
	--nav-link-color: rgba(255, 255, 255, 0.5);
	--color: rgba(255, 255, 255, 0.8);
	--link-color: hsl(214, 65%, 55%);
	--link-visited-color: hsl(250, 27%, 56%);
	--bold-color: rgba(255, 255, 255, 0.95);
	--biglink-color: rgba(255, 255, 255, 0.95);
	--widequote-background-color: black;
	--widequote-color: rgba(255, 255, 255, 0.8);
	--widequote-border: 1px solid black;
	--separator-background-color: rgba(255, 255, 255, 0.35);
	--box-shadow: none;
	--text-shadow: none;
	--downloads-background-color: rgba(255, 255, 255, 0.1);
	--downloads-border-top: 1px solid rgba(0, 0, 0, 0.5);
	--downloads-separator-background-color: rgba(255, 255, 255, 0.1);
	--pressdate-color: rgba(255, 255, 255, 0.5);
	--intro-bottom-border: none;
	--lightlink-color: rgba(255, 255, 255, 0.9);
	--footer-color: rgba(255, 255, 255, 0.5);
	--system-requirements-color: rgba(255, 255, 255, 0.75);
	}
}

body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 1.7em;
	font-family: var(--font-family);
	font-size: 1.2em;
	color: var(--color);
	background-color: var(--background-color);
}
a {
	text-decoration: none;
}
a:link {
	color: var(--link-color);
}
a:visited {
	color: var(--link-visited-color);
}
h1 {
	font-size: 42px;
	line-height: 1.1em;
	text-shadow: var(--text-shadow);
}
h2 {
	font-size: 34px;
	line-height: 1.2em;
	text-shadow: var(--text-shadow);
}
h3 {
	font-size: 22px;
}
h4 {
	margin-bottom: 1em;
}

nav {
	background-color: var(--nav-background-color);
	border-top: var(--nav-top-border);
	border-bottom: var(--nav-bottom-border);
	box-shadow: var(--box-shadow);
	text-align: center;
}
nav span {
	padding-left: 18px;
	padding-right: 18px;
	color: var(--nav-link-color);
}
nav span a:link, nav span a:visited {
	color: var(--nav-link-color);
	text-decoration: none;
}
nav span a:hover {
	text-decoration: underline;
}

main {
	margin-left: auto;
	margin-right: auto;
	border-bottom: var(--main-border-bottom);
	box-shadow: var(--box-shadow);
}
article {
	padding-top: 1em;
	padding-bottom: 2em;
}

.biglink {
	text-shadow: var(--text-shadow);
	color: var(--biglink-color);
	margin-bottom: -0.5em;
}
.largertext {
	font-size: 1.35em;
}
.innertext {
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}
.innertext b {
	color: var(--bold-color);
}
.intro {
	padding-bottom: 1em;
	border-bottom: var(--intro-bottom-border);
}
.nnwmac {
	padding-top: 2em;
	padding-bottom: 2em;
}
.nnwios {
	padding-top: 2em;
	padding-bottom: 2em;
}
.textsection {
	padding-top: 1em;
	padding-bottom: 2em;
}
.widequote {
	font-family: Georgia, serif;
	font-size: 1.1em;
	padding-top: 2em;
	padding-bottom: 2em;
	color: var(--widequote-color);
	background-color: var(--widequote-background-color);
	text-align: center;
	font-weight: 500;
	box-shadow: var(--box-shadow);
	border-top: var(--widequote-border);
	border-bottom: var(--widequote-bottom);
}
.quoteauthor {
	font-family: var(--font-family);
	color: rgba(255, 255, 255, 0.65);
	font-weight: normal;
	display: block;
	margin-top: 0.75em;
}
code, pre {
	font-family: "SF Mono", Menlo, "Courier", monospace;
	font-size: 16px;
	white-space: pre-wrap;
}
.centeredimage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.centeredtext {
	text-align: center;
}
.separator {
 	height: 1px;
 	background-color: var(--separator-background-color);
 	margin-top: 2em;
 	margin-bottom: 2em;
 	box-shadow: var(--box-shadow);
 }
.systemrequirements {
	color: var(--system-requirements-color);
}
.pressdate {
	color: var(--pressdate-color);
	text-shadow: var(--text-shadow);
	float: right;
}
.testimonialauthor {
	color: rgba(255, 255, 255, 0.5);
	font-weight: normal;
	display: block;
	margin-top: 0.75em;
	text-align: right;
}
.toppadding {
	padding-top: 1em;
}
.downloads {
	background-color: var(--downloads-background-color);
	color: var(--downloads-background-color);
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
	border-top: var(--downloads-border-top);
	text-align: center;
}
.downloads .separator {
	 background-color: var(--downloads-separator-background-color);
	 box-shadow: none;
}
.downloads a {
	text-decoration: underline;
	font-size: 1.3em;
}
.downloads a:link, .downloads a:visited {
	color: var(--downloads-link-color);
}
.underlined {
	text-decoration: underline;
}
.lightlink:link, .lightlink:visited {
	color: var(--lightlink-color);
}

footer {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 1em;
	padding-bottom: 2em;
	text-align: center;
	text-shadow: var(--text-shadow);
	color: var(--footer-color);
}

@media (max-width: 760px) {
	.centeredimage {
		max-width: 500px;
		height: auto;
	}
	.innertext {
		width: 500px;
		max-width: 500px;
		min-width: 500px;
	}
}
@media (max-width: 600px) {
	.centeredimage {
		max-width: 450px;
		height: auto;
	}
	.innertext {
		width: 450px;
		max-width: 450px;
		min-width: 450px;
	}
}
@media (max-width: 480px) {
	.centeredimage {
		max-width: 310px;
		height: auto;
	}
	.innertext {
		width: 310px;
		max-width: 310px;
		min-width: 310px;
	}
}
