body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 1.7em;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.2em;
	color: #333;
	background-color: white;
}

a {
	text-decoration: none;
}
a:link {
	color: #086aee;
}
a:visited {
	color: rgba(110, 153, 139, 1.0);
}
h1, h2, h3, h4, h5, h6 {
	color: black;
}
h1 {
	font-size: 34px;
}
h2 {
	font-size: 28px;
	margin-top: 2em;
}

header {
	line-height: 2em;
	padding-top: 24px;
	padding-bottom: 12px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	color: rgba(255, 255, 255, 0.8);
	}
#biglink {
	font-size: 36px;
	display: block;
	font-weight: bold;
	margin-bottom: -0.5em;
}
#biglink a:link, #biglink a:visited {
	color: rgba(255, 255, 255, 1.0);
	text-decoration: none;
}

main {
	padding-top: 40px;
	padding-bottom: 2em;
	text-align: center;
}

nav {
  text-align: center;
  padding-top: 32px;
  border-top: 1px solid #ddd;
	background-color: rgba(0, 0, 0, 0.8);
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: -1em;
}
footer {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 14px;
	padding-bottom: 32px;
	color: #999;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	color: rgba(255, 255, 255, 0.8);
}
footer p {
	margin-bottom: 18px;
}
nav a:link, footer a:link {
	color: #4490e2;
}
