:root {
	color-scheme: light dark;
	--background-color: #3f3f42;
	--color: rgba(255, 255, 255, 0.95);
	--link-color: var(--color);
	--link-visited-color: var(--color);
	--footer-color: rgba(255, 255, 255, 0.5);
	--footer-link-color: rgba(255, 255, 255, 0.5);
	--footer-link-visited-color: var(--footer-link-color);
}

body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 1.7em;
	font-family: -apple-system, system-ui, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.2em;
	color: var(--color);
	background-color: var(--background-color);
}
a:link {
	color: var(--link-color);
}
a:visited {
	color: var(--link-visited-color);
}

.innertext {
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}
.innertext h1 {
	margin-top: 6em;
}

main {
	padding-top: 0em;
	padding-bottom: 3em;
	box-shadow: var(--box-shadow);
	border-bottom: var(--main-border-bottom);
}

footer {
	padding-bottom: 1em;
	color: var(--footer-color);
}
footer a:link {
	color: var(--footer-link-color);
}
footer a:visited {
	color: var(--footer-link-visited-color);
}

@media (max-width: 760px) {
	.innertext {
		width: 500px;
		max-width: 500px;
		min-width: 500px;
	}
}
@media (max-width: 600px) {
	.innertext {
		width: 450px;
		max-width: 450px;
		min-width: 450px;
	}
}
@media (max-width: 480px) {
	.innertext {
		width: 311px;
		max-width: 311px;
		min-width: 311px;
	}
}
