body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 1.7em;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.2em;
	color: rgba(255, 255, 255, 0.8);
	background-color: #333;
}
a {
	text-decoration: none;
}
a:link {
	color: rgba(68,144,226, 1.0);
}
a:visited {
	color: rgba(110, 153, 139, 1.0);
}
.headerseparator {
 	height: 1px;
 	background-color: rgba(0, 0, 0, 0.4);
}
.navseparator {
 	height: 1px;
 	background-color: rgba(0, 0, 0, 0.2);
 	margin-bottom: 2em;
}
.ac {
 	height: 1px;
 	background-color: rgba(255, 255, 255, 0.15);
}
.extrabottommargin {
	margin-bottom: 2em;
}
.innertext {
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}
main {
	padding-top: 2em;
	padding-bottom: 3em;
	background-color: rgba(255, 255, 255, 0.05);
}
header {
	line-height: 2em;
	padding-top: 0.25em;
	text-align: center;
	background-color: #333;
}
.biglink {
	font-size: 36px;
	display: block;
	font-weight: bold;
}
.biglink a:link, .biglink a:visited {
	color: rgba(255, 255, 255, 0.9);
	text-decoration: none;
}
.hidden {
	display: none;
}
.largertext {
	font-size: 1.25em;
}
h2 {
	margin-top: 3em;
}
nav {
  text-align: center;
  padding-bottom: 0.1em;
  margin-bottom: 0em;
}
footer {
	margin-top: 0em;
	margin-bottom: 0;
	padding-top: 0.1em;
	padding-bottom: 2em;
	text-align: center;
}
code, pre {
	font-family: "SF Mono", Menlo, "Courier", monospace;
	font-size: 16px;
	color: #666;
	white-space: pre-wrap;
}
.centeredimage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 760px) {
	.centeredimage {
		max-width: 500px;
		height: auto;
	}
	.innertext {
		width: 500px;
		max-width: 500px;
		min-width: 500px;
	}
}
@media (max-width: 600px) {
	.centeredimage {
		max-width: 450px;
		height: auto;
	}
	.innertext {
		width: 450px;
		max-width: 450px;
		min-width: 450px;
	}
}
@media (max-width: 480px) {
	.centeredimage {
		max-width: 300px;
		height: auto;
	}
	.innertext {
		width: 300px;
		max-width: 300px;
		min-width: 300px;
	}
}
